<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Damion" rel="stylesheet">
  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
  <title>Welcome to Wacko Burger</title>
</head>

<body>
  <img src="/assets/images/cute_burger.png" width="400px" id="cute_burger">

  {{{ body }}}

  <footer class="burgerFooter">
    <div class="footer-copyright">
      <div class="container">
        <span class="black-text text-lighten-4">© 2018 Mike Thompson</span>
        <a class="black-text text-lighten-4 right" href="https://github.com/mict2000/burger">Reference Work</a>
      </div>
    </div>
  </footer>
</body>
</html>